body {
	font-family: serif;
	color: #ffffff;
	background: #131313;
}

main {
	max-width: 800px;
	margin: auto;
}


img {
	max-width: 25% ;
	text-align: center;
	border-radius: 15%;
}

header h1 {
	text-align: center ;
	color: #2d876c;
}

footer {
	text-align: center ;
	clear: both ;
	flex-shrink: 0;
}

footer ul {
	padding-left:0;
}

nav {
	text-align: center ;
	display: inline;
}
nav ul {
	padding-left:0;
}

table, td {
	text-align: center;
	border: 1px solid ;
}

td {
	padding: 0.5em;
}

th {
	padding: 0.5em;
	border: 1px solid;
	border-bottom: 3px double;
}

table {
	margin: auto;
	width: 50%;
	border-collapse: collapse;
}

.menuname {
	background: #2d876c;
	color: #FFFFFF;
	border-radius: 10%;
	padding:0.4em;
}
.menuname a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

.center {
	text-align: center;
	border-radius: 10px;
}

.footer-socials ul li {
	margin:0;
	display: inline;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
